In [3]:
# It allows us to store elements of different data types (number, boolean, string, list) in one container.

list1 = [1,2,3,4,5]   #list of integers
print(list1)

list2 = [3.7, 6.5, 3, 7.95 ]   #list of floats
print(list2)

list3 = ["hello", 2, "F", "good show"]   #list of strings
print(list3)

list4 = [True, False, True]   #list of boolean
print(list4)

list5 = []   #this will create an empty list
print(list5)

print(type(list5))

[1, 2, 3, 4, 5]
[3.7, 6.5, 3, 7.95]
['hello', 2, 'F', 'good show']
[True, False, True]
[]
<class 'list'>

In [4]:
list1 = ["Lubaba", 30, 5.5, [10,'rauf']]
print(list1)

['Lubaba', 30, 5.5, [10, 'rauf']]

In [5]:
list1 = [1,2,3,4,5]
list2 = ["lubaba", 30, 5.5, [10,'khalid']]
empty_list = []

print(list1, list2, empty_list, sep='\n')

[1, 2, 3, 4, 5]
['lubaba', 30, 5.5, [10, 'khalid']]
[]

In [6]:
x = [1, 2, 3]
y = [1, 2, 3]
id(x), id(y), x is y, x==y

(1632478438080, 1632478506304, False, True)

In [7]:
a = [1, 2, 3]
b = [2, 3, 1]
id(a), id(b), a is b, a == b

(1632478502464, 1632478084736, False, False)

In [8]:
numbers = [10, 20, 30, 40, 50]
numbers[2] = 555
print("numbers: ", numbers)

numbers:  [10, 20, 555, 40, 50]

In [9]:
# A list having two sub-lists within it
a = [1,2,3,[4,5],[6,7,8,9],10,11]

# A list having a sublist, which is further having a sublist and that again having a sublist
b = [1,2,3,[4,5,[6,7,8,[9,10,11]]]]
a, b

([1, 2, 3, [4, 5], [6, 7, 8, 9], 10, 11],
 [1, 2, 3, [4, 5, [6, 7, 8, [9, 10, 11]]]])

In [10]:
b[3][2][3][1]

10

In [11]:
mylist = ['learning', 'is', 'fun', 'with', 'Arif']
a, b, c, d, e = mylist # the number of variables on the left must match the number of elements in the list
print (a, d, e)

learning with Arif

In [12]:
tuple1 = a,b,c,d,e
mylist2 = list(tuple1)
print(mylist2)
print(type(tuple1))
print(type(mylist2))

['learning', 'is', 'fun', 'with', 'Arif']
<class 'tuple'>
<class 'list'>

In [15]:

list1 = ["Lubaba", 30, 5.5, [10,'khalid']]
print(list1[3])

print(list1[0][2])             
print(list1[3][1])

[10, 'khalid']
b
khalid

In [16]:
list1 = ["lubaba", 30, 5.5, [10,'khalid']]
print(list1[-1])               
print(list1[-2])

[10, 'khalid']
5.5

In [17]:
mylist = [27, 4.5, 'arif', 64, 'hadeed', 19, 'arif']
print("\nmylist: ", mylist)
mylist.index('arif')

mylist:  [27, 4.5, 'arif', 64, 'hadeed', 19, 'arif']

2

In [18]:
list1 = ['a','b','c','d','e','f','g','h','i']
print(list1[::])  # A default step of 1
print(list1[::1])  # A step of 1
print(list1[::2])  # A step of 2
print(list1[::3])  # A step of 3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'c', 'e', 'g', 'i']
['a', 'd', 'g']

In [19]:
list1 = ['a','b','c','d','e','f','g','h','i']

print(list1[::3])
print(list1[3:6])
print(list1[2:8:-1])
print(list1[-1:-3:-1])

['a', 'd', 'g']
['d', 'e', 'f']
[]
['i', 'h']

In [20]:
a = [1,2,3]
b = a + [4,5]
# Add some elements to the beginning of an existing list using concatenation operator
c = [0] + b
a, b, c

([1, 2, 3], [1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5])

In [21]:
list1 = [5, 3.4, 'hello']
list2 = [31, 9.7, 'bye']
list3 = list1 + list2
print(list3)

[5, 3.4, 'hello', 31, 9.7, 'bye']

In [22]:
num1 = [1,2,3]
num2 = num1 + [4, 5, 6, [7, 8]]
print (num2)

[1, 2, 3, 4, 5, 6, [7, 8]]

In [23]:
name = ['Arif', 'Hadeed', 'Mujahid']
a = name * 3
print(a)

['Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid']

In [24]:
mylist = ['data science', 'machine learning', 2, 5, 7]
# Let us change the second element of this list
mylist[1] = 'big data'
mylist

['data science', 'big data', 2, 5, 7]

In [25]:
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0:2] = ['english', 'urdu'] # Note we are replacing two elements with two elements
mylist

['english', 'urdu', 2, 5, 7]

In [26]:
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0:2] = ['BIG DATA'] # Note we are replacing two elements with one element
mylist

['BIG DATA', 2, 5, 7]

In [28]:
mylist = ['data science', 'machine learning', 2, 5, 7]
mylist[0] = ['math', 'stat'] # Note we are replacing one element with two elements
mylist

[['math', 'stat'], 'machine learning', 2, 5, 7]

In [29]:
list1 = [2, 4, 6, 8]
list1.append(4.631)
list1.append('hello')
list1

[2, 4, 6, 8, 4.631, 'hello']

In [30]:
list1 = [2, 4, 6, 8]
list1.append([4.631, 'hello'])
list1

[2, 4, 6, 8, [4.631, 'hello']]

In [31]:
list1 = [2, 4, 6, 8]
list1.extend([4.631, 'hello'])
list1

[2, 4, 6, 8, 4.631, 'hello']

In [32]:
fruits = ['apple', 'banana', 'cherry']
vegs = ['potato', 'tomato', 'radish']
fruits.extend(vegs)
fruits

['apple', 'banana', 'cherry', 'potato', 'tomato', 'radish']

In [33]:
myfamily = ["Farooq", 'Rauf', 'Hadeed']
print("\nOriginal family list: ", myfamily)
myfamily.insert(2,'Arif')
print("After insert: ", myfamily)

Original family list:  ['Farooq', 'Rauf', 'Hadeed']
After insert:  ['Farooq', 'Rauf', 'Arif', 'Hadeed']

In [34]:
myfamily = ["Farooq", 'Rauf', 'Arif']
myfamily.insert(2,['Maaz','Mohid'])
myfamily

['Farooq', 'Rauf', ['Maaz', 'Mohid'], 'Arif']

In [35]:
list1 = ['learning', 'is', 'fun', 'with', 'arif', 'butt']
print("Original list: ", list1)
x  = list1.pop()
print("\nAfter pop(): ", list1)
print("Element popped is: ", x)

Original list:  ['learning', 'is', 'fun', 'with', 'arif', 'butt']

After pop():  ['learning', 'is', 'fun', 'with', 'arif']
Element popped is:  butt

In [36]:
y = list1.pop(2)
print("\nAfter pop(2): ", list1)
print("Element popped is: ", y)

After pop(2):  ['learning', 'is', 'with', 'arif']
Element popped is:  fun

In [37]:
z = list1.pop(-2)
print("\nAfter pop(-2): ", list1)
print("Element popped is: ", z)

After pop(-2):  ['learning', 'is', 'arif']
Element popped is:  with

In [38]:
list2 = ['learning', 'is', 'fun', 'with', 'arif', 'butt', 'fun']
print("\nOriginal list: ", list2)

x = list2.remove('fun')

print("After remove('fun'): ", list2)
print("Return value of remove() is: ", x)

Original list:  ['learning', 'is', 'fun', 'with', 'arif', 'butt', 'fun']
After remove('fun'):  ['learning', 'is', 'with', 'arif', 'butt', 'fun']
Return value of remove() is:  None

In [39]:
list2 = ['learning', 'is', 'fun', 'with', 'arif', 'butt']
list2.clear()
print("\nAfter clear() the list becomes empty: ", list2)

After clear() the list becomes empty:  []

In [40]:
list3 = [1,2,3,4,5,6,7,8,9]
del list3[3:6]
list3

[1, 2, 3, 7, 8, 9]

In [41]:
list3 = [1,2,3,[53, 41, 99, 12], 8,9]
print("\nOriginal list", list3)
del list3[3]
print("After del list1[3] the list becomes", list3)

Original list [1, 2, 3, [53, 41, 99, 12], 8, 9]
After del list1[3] the list becomes [1, 2, 3, 8, 9]

In [43]:
str1 = 'Learning is fun'    
print(type(str1))
print("Original string: ", str1, "and its type is:  ", type(str1))
l1 = list(str1)
print("l1: ", l1, "and its type is:  ", type(l1))

<class 'str'>
Original string:  Learning is fun and its type is:   <class 'str'>
l1:  ['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'f', 'u', 'n'] and its type is:   <class 'list'>

In [44]:
str1 = 'Learning is fun'
list1 = str1.split(' ')
list1

['Learning', 'is', 'fun']

In [45]:
str2 = "Data Science is GR8 Degree"    #this is a string
list2 = str2.split('c')
list2

['Data S', 'ien', 'e is GR8 Degree']

In [46]:
delimiter = " # "
str3 = delimiter.join(list2)
print(str3)
print(type(str3))

Data S # ien # e is GR8 Degree
<class 'str'>

In [47]:
list_num = [3, 8, 1, 6, 0, 8, 4]

print("length of list: ", len(list_num))
print("max element in list: ", max(list_num))
print("min element in list: ",min(list_num))
print("Sum of element in list: ",sum(list_num))

length of list:  7
max element in list:  8
min element in list:  0
Sum of element in list:  30

In [48]:
# Shallow copy using slice operator while doing assignment
list1 = [1, 2, 3, 4]
list2 = list1[:]
print(list1)
print(list2)
# Both variables point to different memory objects, so have the different ID
print('ID of Old List:', id(list1))
print('ID of New List:', id(list2))

[1, 2, 3, 4]
[1, 2, 3, 4]
ID of Old List: 1632478589888
ID of New List: 1632478523392

In [49]:
list_num = [3, 8, 1, 6, 0, 8, 4]
print("Original numbers list: ", list_num)

list_num.sort()
print("Ascending Sort: ", list_num)

list_num.sort(reverse=True)
print("Descending Sort: ", list_num)

Original numbers list:  [3, 8, 1, 6, 0, 8, 4]
Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  [8, 8, 6, 4, 3, 1, 0]

In [50]:
list_names = ["XYZ", "ABC", "MNO", "ARIF"]
print("\nOriginal names list: ", list_names)

list_names.sort()         
print("Ascending Sort: ", list_names)

list_names.sort(reverse=True)         
print("Descending Sort: ", list_names)

Original names list:  ['XYZ', 'ABC', 'MNO', 'ARIF']
Ascending Sort:  ['ABC', 'ARIF', 'MNO', 'XYZ']
Descending Sort:  ['XYZ', 'MNO', 'ARIF', 'ABC']

In [51]:
list1 = ['ccc', 'aaaaa', 'd', 'bb']
list1.sort(key=len)
list1

['d', 'bb', 'ccc', 'aaaaa']

In [52]:
def last(s):
    return s[-1]

list1 = ['abcz', 'xyza', 'bas', 'arif']
list1.sort(key=last)
list1

['xyza', 'arif', 'bas', 'abcz']

In [53]:
list_num = [3, 8, 1, 6, 0, 8, 4]
rv1 = 9 in list_num
print(rv1)

rv2 = 9 not in list_num
print(rv2)


list_names = ["XYZ", "ABC", "MNO", "ARIF"]
rv3 = "ARIF" in list_names
print(rv3)

False
True
True

In [54]:
x = ['hello']
y = ['hello']
print (x is y) # is operator is checking the memory address (ID) of two lists
print (x == y)

False
True

In [55]:
x = 'hello'
y = 'hello'
print (x is y) # is operator is checking the memory address (ID) of two strings
print (x == y)

True
True

In [56]:
import array

# declaring array of integers
arr1 = array.array("i", [3, 6, 9, 2])  
print(arr1)  
print(type(arr1))  

# declaring array of floats
arr2 = array.array("f", [3.4, 6.7, 9.5, 2])  
print(arr2)  
print(type(arr2))

array('i', [3, 6, 9, 2])
<class 'array.array'>
array('f', [3.4000000953674316, 6.699999809265137, 9.5, 2.0])
<class 'array.array'>