In [1]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
Type of t4 is:  <class 'tuple'>

In [2]:
t5 = ()
print("t5: ", t5)

t5:  ()

In [3]:
a = (1, 2, 3)
b = (2, 3, 1)
id(a), id(b), a is b, a == b

(1750670168128, 1750670172288, False, False)

In [4]:
#Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

TypeError: 'tuple' object does not support item assignment

In [5]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

(1, 2, 3)

In [6]:
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
t1[2][1] = 'Not OK'         # will work fine
t1

(1, 'Hello', [8, 'Not OK', 6], (1, 2, 'BYE'), 5.5)

In [7]:
# you can unpack tuple elements
t1 = ('learning', 'is', 'fun', 'with', 'Arif')
a, b, c, d, e = t1 # the number of variables on the left must match the length of tuple
print (a, c, e)
print(type(a))

learning fun Arif
<class 'str'>

In [8]:
t1 = a,b,c,d,e
print(t1)
print(type(t1))

('learning', 'is', 'fun', 'with', 'Arif')
<class 'tuple'>

In [9]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Arif", 30, 5.5, (10,'rauf'))

print(t1[2])       #accessing element of tuple at index2
print(t1[3])       #accessing element of tuple at index3, which is again a tuple

#accessing Nested tuple element
print(t1[0][2])              #accessing third character of a tuple element at index 0
print(t1[3][1])              #accessing second element of Nested tuple at index 3

5.5
(10, 'rauf')
i
rauf

In [10]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [11]:
t[::]

NameError: name 't' is not defined

In [12]:
t1[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [13]:
t1[3:]

('d', 'e', 'f', 'g', 'h', 'i')

In [14]:
t1[:3]

('a', 'b', 'c')

In [17]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)
# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
a, b, c

((1, 2, 3), (1, 2, 3, 4, 5), (0, 1, 2, 3, 4, 5))

In [19]:
name = ('lubaba', 'Hafsa', 'khola')
a = name * 3
print(a)

('lubaba', 'Hafsa', 'khola', 'lubaba', 'Hafsa', 'khola', 'lubaba', 'Hafsa', 'khola')

In [20]:
str1 = 'Learning is fun'    #this is a string
t1 = tuple(str1.split(' ')) # The split() method returns a list, which you can typecast to a tuple
print(t1)
print(type(t1))

('Learning', 'is', 'fun')
<class 'tuple'>

In [21]:
str2 = "Data Science is GR8 Degree"    #this is a string
t2 = tuple(str2.split('c'))
print(t2)
print(type(t2))

('Data S', 'ien', 'e is GR8 Degree')
<class 'tuple'>

In [22]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv = t1.index(6)
print(rv)

3

In [23]:
t1 = (3, 8, 1, 6, 8, 0, 8, 4)
rv = t1.count(8)
print(rv)

3

In [24]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv1 = 9 in t1
print(rv1)

rv2 = 9 not in t1
print(rv2)


t2 = ("XYZ", "ABC", "MNO", "ARIF")
rv3 = "ARIF" in t2
print(rv3)

False
True
True

In [25]:
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)

1750666426480 1750666426480
True
True

In [26]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1), id(t2))

print (t1 is t2)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t2)

1750676316416 1750676021184
False
True

In [27]:
def last(s):
    return s[-1]

t1 = ('abcz', 'xyza', 'bas', 'arif')
rv = sorted(t1, key=last)
print(rv)
print(t1)

['xyza', 'arif', 'bas', 'abcz']
('abcz', 'xyza', 'bas', 'arif')